<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.futonredemption.nokeyguard" android:versionCode="23" android:versionName="2.3">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		<receiver android:name=".AppWidgetProvider1x1" android:label="@string/widget_label_1x1"
			android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.intent.action.SCREEN_OFF" />
				<action android:name="android.intent.action.SCREEN_ON" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_1x1" />
		</receiver>
		<service android:exported="true" android:name=".DisableKeyguardService"
					android:label="@string/service_name" android:enabled="true" />
	</application>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-sdk android:minSdkVersion="3" />
</manifest>